* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: powderblue;
}

header {
	text-align: center;
	display: flex;
	flex-direction: column;
}

header > * {
	margin: 2vmin 0;
}

button {
	padding: 0 0.5rem;
}

form > * {
	margin: 0 0.5rem;
}

#secondary-header-content > * {
	display: inline;
	margin: 0 1.5rem;
}

#page-wrapper {
	width: 80vw;
	margin: 2vh auto;
	background-color: whitesmoke;
}

.control-section {
	margin: auto;
	padding: 2vh;
	display: flex;
	justify-content: space-evenly;
}

.view-section {
	margin: auto;
}

.todo-priority {
	display: inline;
	margin: 0 0.5rem;
}

.todo-created-at {
	display: inline;
	margin: 0 0.5rem;
}

.todo-text {
	display: inline;
	margin: 0 0.5rem;
}
