* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: powderblue;
}

header {
	text-align: center;
	display: flex;
	flex-direction: column;
}

header > * {
	margin: 2vmin 0;
}

button {
	padding: 0 0.5rem;
}

form > * {
	margin: 0 0.5rem;
}

#loader {
	/* 	display: none; */
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#secondary-header-content > * {
	display: inline;
	margin: auto 1.1rem;
}

#sorting-label-and-selector > * {
	margin: auto 0.2rem;
}

#sorting-order-button {
	padding: 0;
	margin: 0;
}

.wrapper-div {
	width: 80vw;
	margin: 2vh auto;
	padding: 0 1%;
	background-color: whitesmoke;
	box-shadow: 0px 0px 15px background;
	border-radius: 25px;
}

.control-section {
	margin: auto;
	padding: 2vh;
	display: flex;
	justify-content: space-evenly;
}

.view-section {
	margin: auto;
	padding-bottom: 3vmax;
}

.todo-priority {
	display: inline;
	margin: 0 0.5rem;
}

.todo-created-at {
	display: inline;
	margin: 0 0.5rem;
}

.todo-text {
	display: inline;
	margin: 0 0.5rem;
}

.delete-button {
	float: right;
	margin-right: 3vw;
}

.complete-todo-button {
	float: right;
	margin-right: 1vw;
}

.todo-container {
	padding: 0.2rem 0;
	margin: 0.4rem 0;
	box-shadow: 0px 0px 15px background;
	border-radius: 7px;
}

.view-section > :hover {
	background: linear-gradient(130deg, #503bff 0%, #8293ff 100%);
	box-shadow: none;

	color: white;
	transition: 0.3s all ease-in-out;
}

.completed-todos-section > :hover {
	background: linear-gradient(130deg, #503bff 0%, #8293ff 100%);
	box-shadow: none;

	color: white;
	transition: 0.3s all ease-in-out;
}

.logo {
	height: 14px;
	width: 15px;
}

.draggable {
	cursor: move;
	user-select: none;
}

/* For completed section */

.completed-todos-section {
	margin: auto;
	position: relative;
	padding: 1vmax 0;
	margin-top: 1vmax;
}

#completed-todos-header-content > * {
	display: inline;
	margin: auto 1.1rem;
}

#completed-todos-header-content {
	margin-bottom: 2vmax;
}

#sorting-label-and-selector-for-completed > * {
	margin: auto 0.2rem;
}

#sorting-order-button-for-completed {
	padding: 0;
	margin: 0;
}

#completed-todos-wrapper {
	margin-top: 4vmax;
}

#check-mark {
	font-size: 7rem;
}

#move-todos-here {
	position: absolute;
	border-radius: 25px;
	border: 5px ridge indigo;
	top: 0;
	left: 0;
	width: 102%;
	height: 100%;
	min-height: 200px;
	margin: 0 -1%;
	z-index: 1;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(130deg, #503bff 0%, #8293ff 100%);
	color: white;
}

#move-todos-here:hover {
	color: indigo;
	font-size: larger;
}

/* Medium screens */
@media all and (max-width: 800px) {
	.wrapper-div {
		padding: 0 1vmax;
	}
}
/* Small screens */
/* @media all and (max-width: 630px) {
	
} */
