* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	text-shadow: 2px 2px 5px #503bff;
	font-size: 3vmax;
}

h2 {
	text-shadow: 2px 2px 5px #503bff;
	font-size: 2.5vmax;
}

body {
	background-color: powderblue;
}

header {
	text-align: center;
	display: flex;
	flex-direction: column;
}

header > * {
	margin: 2vmin 0;
}

button {
	padding: 0 0.5rem;
	color: #fff;
	background-color: #341d5b;
	cursor: pointer;
}

button:hover {
	transition: 0.5s;
	border: 2px inset indigo;
	background-color: #fff;
	color: indigo;
}

button:active {
	background-color: #555;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.todo-container button {
	color: #fff;
	background-color: #341d5b;
	cursor: pointer;
	border-radius: 15px;
}

form > * {
	margin: 0 0.5rem;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#todo-created-at-short-version {
	display: none;
}

#secondary-header-content > * {
	display: inline;
	margin: auto 1.1rem;
}

#sorting-label-and-selector > * {
	margin: auto 0.2rem;
}

#sorting-order-button {
	padding: 0;
	margin: 0;
	border: 3px solid #555;
	background-color: lavender;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

#sorting-order-button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.wrapper-div {
	width: 80vw;
	margin: 2vh auto;
	padding: 0 1%;
	background: linear-gradient(to bottom right, #3366ff 0%, #ccffff 100%);
	box-shadow: 0px 0px 15px background;
	border-radius: 25px;
}

select {
	box-sizing: border-box;
	border: 3px solid #555;
	background-color: lavender;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

input[type="text"] {
	padding: 0 0.3vmax;
	box-sizing: border-box;
	border: 3px solid #555;
	background-color: lavender;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

input[type="text"]:focus {
	border: 3px solid #555;
	background-color: #ccc;
}

.control-section {
	margin: auto;
	padding: 2vh;
	display: flex;
	justify-content: space-evenly;
}

.view-section {
	margin: auto;
	padding-bottom: 3vmax;
}

.todo-priority {
	display: inline;
	margin: 0 0.5rem;
}

.todo-created-at {
	display: inline;
	margin: 0 0.5rem;
}

.todo-text {
	display: inline-block;
	margin: 0 0.5rem;
	max-width: 40vw;
}

.delete-button {
	float: right;
	margin-right: 3vw;
}

.delete-button:hover {
	transition: 0.5s;
	border: 2px inset indigo;
	background-color: firebrick;
	box-shadow: 0 5px #666;
	color: white;
}

.delete-button:active {
	background-color: firebrick;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.complete-todo-button {
	float: right;
	margin-right: 1vw;
}

.complete-todo-button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.complete-todo-button:hover {
	transition: 0.5s;
	border: 2px inset indigo;
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	color: white;
}

.todo-container {
	border: 2px ridge #1c6ea4;
	background: linear-gradient(to bottom right, #9999ff -20%, #ccffff 95%);
	padding: 0.2rem 0;
	margin: 0.2rem 0;
	box-shadow: 0px 0px 15px background;
	border-radius: 7px;
}

.todo-container * {
	vertical-align: top;
}

.view-section > :hover {
	background: linear-gradient(130deg, #503bff 0%, #8293ff 100%);
	box-shadow: none;

	color: white;
	transition: 0.3s all ease-in-out;
}

.completed-todos-section > :hover {
	background: linear-gradient(130deg, #503bff 0%, #8293ff 100%);
	box-shadow: none;

	color: white;
	transition: 0.3s all ease-in-out;
}

.logo {
	height: 14px;
	width: 15px;
}

.draggable {
	cursor: move;
	user-select: none;
}

/* For completed section */

.completed-todos-section {
	margin: auto;
	position: static;
	padding: 1vmax 0;
	margin-top: 1vmax;
}

#completed-todos-header-content > * {
	display: inline;
	margin: auto 1.1rem;
}

#completed-todos-header-content {
	padding-top: 2vmax;
	margin-bottom: 2vmax;
	text-align: center;
}

#sorting-label-and-selector-for-completed > * {
	margin: auto 0.2rem;
}

#sort-button {
	width: 7vmax;
	height: 3vmax;
	font-size: 1.5vmax;
}

#add-button {
	width: 9vmax;
	height: 3vmax;
	font-size: 1.5vmax;
}

#sort-button-for-completed {
	width: 7vmax;
	height: 3vmax;
	font-size: 1.5vmax;
}

#sorting-order-button-for-completed {
	padding: 0;
	margin: 0;
	border: 3px solid #555;
	background-color: lavender;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

#sorting-order-button-for-completed:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#completed-todos-wrapper {
	margin-top: 4vmax;
}

#check-mark {
	font-size: 7rem;
}

#move-todos-here {
	position: absolute;
	border-radius: 25px;
	border: 5px ridge indigo;
	top: 0;
	left: 0;
	width: 102%;
	height: 100%;
	min-height: 200px;
	margin: 0 -1%;
	z-index: 1;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(130deg, #503bff 0%, #8293ff 100%);
	color: white;
}

#move-todos-here:hover {
	color: indigo;
	font-size: larger;
}

/* Medium screens */
@media all and (max-width: 865px) {
	.wrapper-div {
		padding: 0 1vmax;
	}

	h1 {
		text-shadow: 2px 2px 5px #503bff;
		font-size: 2em;
	}

	h2 {
		text-shadow: 2px 2px 5px #503bff;
		font-size: 1.5em;
	}

	#todo-created-at-short-version {
		display: inline-block;
		float: right;
		margin: 0 0.5rem;
	}

	#todo-created-at-long-version {
		display: none;
	}

	.todo-text {
		max-width: 36vw;
	}

	#add-button {
		width: auto;
		height: auto;
		font-size: 13.333px;
	}
}

/* Small screens */
@media all and (max-width: 630px) {
	.todo-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.delete-button {
		display: block;
		margin-right: 0;
	}

	.complete-todo-button {
		display: block;
		margin-right: 0;
	}

	#todo-form {
		display: flex;
		margin-left: -1vw;
	}

	#text-input {
		margin-left: 0;
	}

	#secondary-header-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#secondary-header-content > * {
		margin-top: 1vmin;
		margin-bottom: 1vmin;
	}

	#sorting-label-and-selector {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

/* Super Small screens */
@media all and (max-width: 430px) {
	#todo-form {
		flex-direction: column;
		align-items: center;
	}

	#todo-form > * {
		margin-top: 0.5vmin;
		margin-bottom: 0.5vmin;
	}

	.control-section {
		padding-top: 0;
	}

	#text-input {
		margin-right: 0;
	}
}

/* Stuff for admin page */

#admin-page-wrapper {
	min-height: 60vh;
}

.bin-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.admin-button {
	display: block;
	margin-right: 0;
}

.move-to-bin-button:hover {
	transition: 0.5s;
	border: 2px inset indigo;
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	color: white;
}

.move-to-bin-button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.buttons-of-bin-container-div > * {
	margin: auto 0.7vw;
}
